{% extends "base.html" %}

{% block "content" %}
    <div class="row-fluid">
        <ul class="thumbnails">
            {% for v in visualizations %}
                <li class="span4">
                    <div class="caption"><h3 style="margin-bottom: 0px;"><a href="{% url visualization v.slug %}">{{ v.name }}</a></h3></div>
                    <img src="{{ STATIC_URL }}img/{{ v.slug }}.png" height="400" width="300" class="thumbnail">
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
