{% extends "base.html" %}

{% block "styles" %}
    {% autoescape off %}
        {{ visualization.styles }}
    {% endautoescape %}
{% endblock %}

{% block "content" %}
    <div class="row-fluid">
        <div class="span12">
            <h1>{{ visualization.name }}</h1>
            <div id="viz"></div>
        </div>
    </div>
    <hr/>
    {% include "core/show_js.html" %}
{% endblock %}

{% block "js_ready" %}
    $("#javascript_show_hide").hide();
    $("#hide_js").hide();

    {% autoescape off %}
        var data = {{ visualization.data }};
        {{ visualization.javascript }}
    {% endautoescape %}
{% endblock %}
