<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Visualization Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A data visualization portfolio created by Matt Makai.">
    <meta name="author" content="Matt Makai">
    <link href="{{ STATIC_URL }}css/app.css" rel="stylesheet">
    <style>
        {% block "styles" %}{% endblock %}
    </style>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
      </script>
    <![endif]-->
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          {% block "content" %}{% endblock %}
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12">
          <hr/>
          <footer>
            <p><a href="https://github.com/makaimc/Visualization-Portfolio" style="text-decoration: underline;">Source Code on Github</a>
            <span class="pull-right">&copy; <a href="http://www.mattmakai.com/" style="text-decoration: underline;">Matt Makai</a> 2012</span>
            </p>
          </footer>
        </div>
      </div>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="http://d3js.org/d3.v2.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    {% block "page_js" %}{% endblock %}
    <script type="text/javascript">
        $(document).ready(function() {
            {% block "js_ready" %}{% endblock %}
        });
    </script>
  </body>
</html>
